<table class="table table-bordered">
    <thead>
    <tr>
        <th>Meal id</th>
        <th>Price of one portion</th>
        <th>Meal qty</th>
        <th>Date</th>
        <th>Time</th>
        <th>Loyalty points recieve</th>
        <th>Total(LKR)</th>
    </tr>
    </thead>
    <tbody ng-repeat="item in checkout.orderingData">
    <td>{{item.meal}}</td>
    <td>{{item.Itemprice}}</td>
    <td>{{item.orderQty}}</td>
    <td>{{item.date.toString().substring(0,10)}}</td>
    <td>{{item.time.toString()}}</td>
    <td>{{item.loyalty.toString()}}</td>
    <td>{{item.totalPrice}}</td>
    </tbody>
    <tr><td><b>sub total</b></td><td></td><td></td><td></td><td></td><td>{{checkout.newLoyalties}}</td><td><b>{{checkout.subtotal}}</b></td></tr>
    <tr><td><b>available loyalty points(xRs.10)</b></td><td></td><td></td><td></td><td></td><td><b>{{checkout.userLoyalties}}</b></td><td><b>{{checkout.userLoyalties*10}}</b></td></tr>
    <tr><td><b>Final total(sub total-loyalty reduction)</b></td><td></td><td></td><td></td><td></td><td></td><td><b>{{checkout.total}}</b></td></tr>
    <p></p>
</table>

<div class="form-group">
    <div class="col-md-2">
        <button class="btn btn-default form-control" ui-sref="dashboard.payment">Checkout</button>
    </div>
</div>