<div class="col-md-8">
    <div class="col-md-3">
        <div class="alert alert-success">
            <h2> LUCKY</br>USER</br> OF</br>THE</br>WEEK</br> IS</br> </br> <div class="alert alert-warning">{{food.randomUser}}</br></div></h2>
        </div>
    </div>
    <div class="col-md-5">
        <form id="foodForm">
            <div class="form-group">
                <label for="mealSelect">Select a meal</label>
                <select id="mealSelect" class="form-control" ng-change="food.getMealPriceNloyalty(ordering.meal)" ng-model="ordering.meal">
                    <option ng-repeat="item in food.mealmenu"  value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="foodPrice">Price for one meal(Rs:)</label>
                <input id="foodPrice" type="text" class="form-control" ng-value="food.Itemprice" ng-model="ordering.Itemprice" ng-disabled="true">
            </div>

            <div class="form-group">
                <label for="qtySelect">Select food qty</label>
                <select id="qtySelect" class="form-control" ng-model="ordering.orderQty">
                    <option ng-repeat="item in food.menuQty" value="{{item}}">{{item}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dateSelect">Deliver Date</label>
                <input id="dateSelect" type="date" class="form-control" ng-model="ordering.date">
            </div>
            <div class="form-group">
                <label for="">Deliver time</label>
                <select id="dTime" class="form-control" ng-model="ordering.time">
                    <option ng-repeat="item in food.menutimes" value="{{item}}">{{item}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Loyalty points for the meal</label>
                <input id="loyaltyPts" type="text" class="form-control" ng-value="food.loyalty" ng-model="ordering.loyalty" ng-disabled="true">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default form-control" ng-click="food.addOrdering(ordering)">Add to Cart
                    <div class="row show-hide-message" ng-show="food.successmsg!=''">
                        <div class="alert alert-info">{{food.successmsg}}</div>
                    </div>
                </button>
            </div>
            <div class="row show-hide-message" ng-show="food.errorMessage">
                <div class="alert alert-danger">{{food.errorMessage}}</div>
            </div>
        </form>
    </div>
</div>