<div class="col-md-5">
    <form id="paymentForm" name="paymentForm">
        <div class="row">
            <div class="form-group">
                <div class="alert alert-success">
                    <label for="paymentMethod">Please Select the Payment method</label>
                    <div class="row">
                        <div id="paymentMethod" class="col-md-8">
                            <div class="col-md-8">
                                <label for="sampath">Sampath Bank</label>
                                <input name="method" id="sampath" ng-model="value" value="sampath" type="radio" ng-change="checkout.setMethod(value)">
                            </div>

                            <div class="col-md-8">
                                <label for="dialog">Dialog </label>
                                <input name="method" id="dialog" ng-model="value" value="dialog" type="radio" ng-change="checkout.setMethod(value)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="checkout.sampath">
            <div class="form-group" >
                <label for="holderName">Card Holder's Name</label>
                <input type="text" id="holderName" class="form-control" required ng-model="sampathPay.holderName">
            </div>
            <div class="form-group" >
                <label for="ccNumber">Credit Card Number</label>
                <input type="text" id="ccNumber" class="form-control" required ng-model="sampathPay.ccNumber">
            </div>
            <div class="form-group" >
                <label for="cvcNumber">CVC Number</label>
                <input type="text" id="cvcNumber" class="form-control" required ng-model="sampathPay.cvcNumber">
            </div>
            <div class="form-group" >
                <label for="pAmount">Amount</label>
                <input type="text" id="pAmount" class="form-control" value="{{checkout.total}}" disabled >
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default form-control" data-toggle="modal" data-target="#confirmModal">Proceed</button>
            </div>
        </div>
        <div class="row" ng-show="checkout.dialog">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" class="form-control" required ng-model="dialogPay.phoneNumber">
            </div>
            <div class="form-group">
                <label for="pinNumber">4 Digit PIN</label>
                <input type="text" id="pinNumber" class="form-control" required ng-model="dialogPay.pinNumber">
            </div>
            <div class="form-group" >
                <label for="dAmount">Amount</label>
                <input type="text" id="dAmount" class="form-control" value="{{checkout.total}}" disabled>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default form-control" data-toggle="modal" data-target="#confirmModal2">Proceed</button>
            </div>
        </div>

        <div class="row show-hide-message" ng-show="checkout.successMessage">
            <div class="alert alert-success">{{checkout.successMessage}}</div>
        </div>
        <div class="row show-hide-message" ng-show="checkout.errorMessage">
            <div class="alert alert-danger">{{checkout.errorMessage}}</div>
        </div>

        <div id="confirmModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sampath Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you wish to proceed ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="checkout.addOrdering(sampathPay)">OK</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dialog Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you wish to proceed ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="checkout.addOrdering(dialogPay)">OK</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>