<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref=".food">Food Plaza</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span>Logged in as {{user.data.username || uppercase}}</a></li>
                <li><a ng-click="login.logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>

    </nav>


    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="sidebar-nav">
                    <ul class="nav nav-stacked">
                        <li class="active"><a ui-sref=".food"><i class="fa fa-home fa-fw"></i>Food Selection</a></li>
                        <li class="active"><a ui-sref=".checkout"><i class="fa fa-home fa-fw"></i>Proceed</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>

