<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Food Plaza</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/chineserolls.jpg">
                <div class="caption">
                    <h4>Chinese Rolls</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/meatMountain.jpg">
                <div class="caption">
                    <h4>Meat Mountain</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/suicideBurger.jpg">
                <div class="caption">
                    <h4>Suicide Burger</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/ddPizza.jpg">
                <div class="caption">
                    <h4>Double Devilled Pizza</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/bbcCake.jpeg">
                <div class="caption">
                    <h4>Blueberry Cheesecake</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/Doublegrilled.jpg">
                <div class="caption">
                    <h4>Double Grilled Cheese Burger</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/spicyCrunch.jpg">
                <div class="caption">
                    <h4>Spicy Crunch</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="assets/img/8piece.png">
                <div class="caption">
                    <h4>8 piece Tailgate Special</h4>
                    <p></p>
                    <a href="#" class="btn btn-danger btn-xs" role="button" ui-sref="login">Select meal</a>
                </div>
            </div>
        </div>
    </div>
</div>