<style>
    .form-login {
        background-color: #EDEDED;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        border-color:#d2d2d2;
        border-width: 5px;
        box-shadow:0 1px 0 #cfcfcf;
    }
    .form-login-heading {
        text-align:center;
        margin-bottom: 30px;
    }
</style>
<div class="container" style="padding:50px 0">
    <div class="col-md-4 col-md-offset-4">
        <div class="form-login">
            <h3 class="form-login-heading">Please login to continue</h3>
            <form ng-submit="login.validateLogin(loginData)">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="loginData.username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="loginData.password" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="Submit">Login</button>
            </form>
        </div>
        <br/>
        <div class="row show-hide-message" ng-show="login.successMessage">
            <div class="alert alert-success">{{login.successMessage}}</div>
        </div>
        <div class="row show-hide-message" ng-show="login.errorMessage">
            <div class="alert alert-danger">{{login.errorMessage}}</div>
        </div>
    </div>
</div>