<style>
    .form-signup {
        background-color: #EDEDED;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        border-color:#d2d2d2;
        border-width: 5px;
        box-shadow:0 1px 0 #cfcfcf;
    }
    .form-signup-heading {
        text-align:center;
        margin-bottom: 30px;
    }
</style>
<div class="container" style="padding:50px 0">
    <div class="col-md-4 col-md-offset-4">
        <div class="form-signup">
            <form ng-submit="signup.signupUser(signupData)">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="signupData.username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email" ng-model="signupData.email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="signupData.password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="Submit">Signup</button>
            </form>
            <div class="row show-hide-message" ng-show="signup.successMessage">
                <div class="alert alert-success">{{signup.successMessage}}</div>
            </div>
            <div class="row show-hide-message" ng-show="signup.errorMessage">
                <div class="alert alert-danger">{{signup.errorMessage}}</div>
            </div>
        </div>
    </div>
</div>